<!DOCTYPE html>
{% extends "base.html" %}
{% block title %}
<title>{ YLPN }</title>
{% end %}
{% block frame %}
<div class='edit-line'>
  <span class='user'>root@ylpn:</span>
  <span class='path'>~#&nbsp;</span>
  <div class='cursor' id='blink-cursor'></div>
</div>
{% end %}
{% block homepage %}
<h1 id='ylpn'>YoungLee's Personal Network</h1>
<div id='yl-txt'>
  <span class='yl-theme' id='yl-txt'>YoungLee</span>
  <span class='yl-theme' id='yl-dot'>'</span>
  <span class='yl-theme' id='yl-s'>s</span>
</div>
<span id='pn-txt'>Personal Network</span>
{% end %}
{% block ttitle %}
<span id='tylpn'>/younglee-s-personal-network:</span>
{% end %}
{% block tcount %}
<span id='tamount'>总用量 4</span>
{% end %}
{% block tmenu %}
<li author='younglee' class='domains' group='rwxr--r--' name='博文' size='4096' type='d'>
  <div class='titem'>
    <span class='item-span sp ttype'>d</span>
    <span class='item-span tgruup read'>r</span>
    <span class='item-span tgruup write'>w</span>
    <span class='item-span tgruup exe'>x</span>
    <span class='item-span tgruup read'>r</span>
    <span class='item-span tgruup nil'>-</span>
    <span class='item-span tgruup nil'>-</span>
    <span class='item-span tgruup read'>r</span>
    <span class='item-span tgruup nil'>-</span>
    <span class='item-span sp tgruup nil'>-</span>
    <span class='item-span sp size'>4096</span>
    <span class='item-span sp tauthor'>younglee</span>
    <span class='item-span sp tdomain tdir'>博文</span>
  </div>
</li>
<li author='younglee' class='domains' group='rwxr--r--' name='圖志' size='4096' type='d'>
  <div class='titem'>
    <span class='item-span sp ttype'>d</span>
    <span class='item-span tgruup read'>r</span>
    <span class='item-span tgruup write'>w</span>
    <span class='item-span tgruup exe'>x</span>
    <span class='item-span tgruup read'>r</span>
    <span class='item-span tgruup nil'>-</span>
    <span class='item-span tgruup nil'>-</span>
    <span class='item-span tgruup read'>r</span>
    <span class='item-span tgruup nil'>-</span>
    <span class='item-span sp tgruup nil'>-</span>
    <span class='item-span sp size'>4096</span>
    <span class='item-span sp tauthor'>younglee</span>
    <span class='item-span sp tdomain tdir'>圖志</span>
  </div>
</li>
<li author='younglee' class='domains' group='rwxr--r--' name='電郵' size='4096' type='d'>
  <div class='titem'>
    <span class='item-span sp ttype'>d</span>
    <span class='item-span tgruup read'>r</span>
    <span class='item-span tgruup write'>w</span>
    <span class='item-span tgruup exe'>x</span>
    <span class='item-span tgruup read'>r</span>
    <span class='item-span tgruup nil'>-</span>
    <span class='item-span tgruup nil'>-</span>
    <span class='item-span tgruup read'>r</span>
    <span class='item-span tgruup nil'>-</span>
    <span class='item-span sp tgruup nil'>-</span>
    <span class='item-span sp size'>4096</span>
    <span class='item-span sp tauthor'>younglee</span>
    <span class='item-span sp tdomain tdir'>電郵</span>
  </div>
</li>
<li author='younglee' class='domains' group='rwxr--r--' name='關於' size='0' type='-'>
  <div class='titem'>
    <span class='item-span sp ttype'>-</span>
    <span class='item-span tgruup read'>r</span>
    <span class='item-span tgruup write'>w</span>
    <span class='item-span tgruup exe'>x</span>
    <span class='item-span tgruup read'>r</span>
    <span class='item-span tgruup nil'>-</span>
    <span class='item-span tgruup nil'>-</span>
    <span class='item-span tgruup read'>r</span>
    <span class='item-span tgruup nil'>-</span>
    <span class='item-span sp tgruup nil'>-</span>
    <span class='item-span sp size'>0</span>
    <span class='item-span sp tauthor'>younglee</span>
    <span class='item-span sp tdomain tleaf'>關於</span>
  </div>
</li>
{% end %}
{% block domain %}
<input author='younglee' class='domains' group='rwxr--r--' name='博文' size='4096' style='display: none;' type='d'>
<input author='younglee' class='domains' group='rwxr--r--' name='圖志' size='4096' style='display: none;' type='d'>
<input author='younglee' class='domains' group='rwxr--r--' name='電郵' size='4096' style='display: none;' type='d'>
<input author='younglee' class='domains' group='rwxr--r--' name='關於' size='0' style='display: none;' type='-'>
{{ domain }}
{% end %}
{% block dynamic_script %}
<script src="{{ static_url('js/page/homepage/homepage.js') }}" type='text/javascript'></script>
{% end %}
