!!! 5
-# 每个输出页面只包含自己独特的内容就行了
{% extends "base.html" %}

{% block title %}
%title { YLPN }
{% end %}

{% block frame %}
%div{:class => "edit-line"}
  %span{:class => "user"} root@ylpn:
  %span{:class => "path"} ~#&nbsp;
  %div{:id => "blink-cursor", :class => "cursor"}
{% end %}

{% block homepage %}
%h1{:id => "ylpn"} YoungLee's Personal Network
%div{:id => "yl-txt"}
  %span{:id => "yl-txt", :class => "yl-theme"} YoungLee
  %span{:id => "yl-dot", :class => "yl-theme"} '
  %span{:id => "yl-s", :class => "yl-theme"} s
%span{:id => "pn-txt"} Personal Network
{% end %}

{% block ttitle %}
%span{:id => "tylpn"} /younglee-s-personal-network:
{% end %}

{% block tcount %}
%span{:id => "tamount"} 总用量 4
{% end %}

{% block tmenu %}
%li{:class => "domains", :name => "博文", :type => "d", :group => "rwxr--r--", :author => "younglee", :size => "4096"}
  %div{:class => "titem"}
    %span{:class => "item-span sp ttype"} d
    %span{:class => "item-span tgruup read"} r
    %span{:class => "item-span tgruup write"} w
    %span{:class => "item-span tgruup exe"} x
    %span{:class => "item-span tgruup read"} r
    %span{:class => "item-span tgruup nil"} -
    %span{:class => "item-span tgruup nil"} -
    %span{:class => "item-span tgruup read"} r
    %span{:class => "item-span tgruup nil"} -
    %span{:class => "item-span sp tgruup nil"} -
    %span{:class => "item-span sp size"} 4096
    %span{:class => "item-span sp tauthor"} younglee
    %span{:class => "item-span sp tdomain tdir"} 博文
%li{:class => "domains", :name => "圖志", :type => "d", :group => "rwxr--r--", :author => "younglee", :size => "4096"}
  %div{:class => "titem"}
    %span{:class => "item-span sp ttype"} d
    %span{:class => "item-span tgruup read"} r
    %span{:class => "item-span tgruup write"} w
    %span{:class => "item-span tgruup exe"} x
    %span{:class => "item-span tgruup read"} r
    %span{:class => "item-span tgruup nil"} -
    %span{:class => "item-span tgruup nil"} -
    %span{:class => "item-span tgruup read"} r
    %span{:class => "item-span tgruup nil"} -
    %span{:class => "item-span sp tgruup nil"} -
    %span{:class => "item-span sp size"} 4096
    %span{:class => "item-span sp tauthor"} younglee
    %span{:class => "item-span sp tdomain tdir"} 圖志
%li{:class => "domains", :name => "電郵", :type => "d", :group => "rwxr--r--", :author => "younglee", :size => "4096"}
  %div{:class => "titem"}
    %span{:class => "item-span sp ttype"} d
    %span{:class => "item-span tgruup read"} r
    %span{:class => "item-span tgruup write"} w
    %span{:class => "item-span tgruup exe"} x
    %span{:class => "item-span tgruup read"} r
    %span{:class => "item-span tgruup nil"} -
    %span{:class => "item-span tgruup nil"} -
    %span{:class => "item-span tgruup read"} r
    %span{:class => "item-span tgruup nil"} -
    %span{:class => "item-span sp tgruup nil"} -
    %span{:class => "item-span sp size"} 4096
    %span{:class => "item-span sp tauthor"} younglee
    %span{:class => "item-span sp tdomain tdir"} 電郵
%li{:class => "domains", :name => "關於", :type => "-", :group => "rwxr--r--", :author => "younglee", :size => "0"}
  %div{:class => "titem"}
    %span{:class => "item-span sp ttype"} -
    %span{:class => "item-span tgruup read"} r
    %span{:class => "item-span tgruup write"} w
    %span{:class => "item-span tgruup exe"} x
    %span{:class => "item-span tgruup read"} r
    %span{:class => "item-span tgruup nil"} -
    %span{:class => "item-span tgruup nil"} -
    %span{:class => "item-span tgruup read"} r
    %span{:class => "item-span tgruup nil"} -
    %span{:class => "item-span sp tgruup nil"} -
    %span{:class => "item-span sp size"} 0
    %span{:class => "item-span sp tauthor"} younglee
    %span{:class => "item-span sp tdomain tleaf"} 關於
{% end %}

{% block domain %}
-# {% for x in jsonload(test).keys() %}
-# %input{:class => "domains", :name => "{{ x }}", :style => "display: none;"}
-# {% end %}
%input{:class => "domains", :name => "博文", :type => "d", :group => "rwxr--r--", :author => "younglee", :size => "4096", :style => "display: none;"}
%input{:class => "domains", :name => "圖志", :type => "d", :group => "rwxr--r--", :author => "younglee", :size => "4096", :style => "display: none;"}
%input{:class => "domains", :name => "電郵", :type => "d", :group => "rwxr--r--", :author => "younglee", :size => "4096", :style => "display: none;"}
%input{:class => "domains", :name => "關於", :type => "-", :group => "rwxr--r--", :author => "younglee", :size => "0", :style => "display: none;"}
{{ domain }}
{% end %}

{% block dynamic_script %}
%script{:type => "text/javascript", :src => "{{ static_url('js/page/homepage/homepage.js') }}"}  
{% end %}
