<!DOCTYPE html>
<html lang="en">
<html>
	<head>
		<meta http-equiv="Content-Type">
		<meta content="text/html; charset=utf-8">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
		<title>Day1 Task</title>
		<style type="text/css">
		 .font {
			 color: #ffffff;
			 font-family: monospace, Courier, Tahoma, Arial, "宋体", "Microsoft YaHei", "微软雅黑", sans-serif;
			 font-size: 12px;
		 }
		 .ascii {
			 line-height: 0px;
		 }
		</style>
	</head>
	<body bgcolor="#000000">
		<font class="font">
			<p class="ascii">???++++=++????????+,:,+::~::~:~:~~==~:~=,:,:,::,,:+:++++++++777777II++==++=+=================++++========~=~~~~~~~~===+I</p>
			<p class="ascii">???+++?=+???????=~::::::::::::::::::?~:,,,,,,,:,,,,,,+++++++77777I?++?III+=================~==+==+======~~~~~~~~~~~~~==?</p>
			<p class="ascii">?++++?=+?+?????:,,::::::::::::::::~~:~::,,,,,,,,,,,,,,++++++7777I??=+?II?++===============~==========~+=~~~~::~~~~~~~==+</p>
			<p class="ascii">?=++??=+??????=::,,,::::::::::::::::::::::,,,,,,,,,,,,:?++++7II+++++????+=+=======~==~==~~~~~=~======~+=~~~::::::::~~~==</p>
			<p class="ascii">?==+++++?++??=,,::,,::::::::::::::~~~:~~:::,,,,,,,,,,,,,+===I++?=+?II???=====~====~==~=~~~~~==~~=~==~=+=~~~~::::::::~~==</p>
			<p class="ascii">=~+?==??????+:,,:,,::::::::::::::~~===~=~~:::,,,,,,,,,,,:+==+?=+?7I?7I?+===~~~~~=~=~~~=~~~~~==:~=~==~++=~~~~:::,::::~~~=</p>
			<p class="ascii">==??==???=+=:,,,,,,,,:::::::,::~~~~~======~~::,,,,,,,,,.,,=++=+?+?+?+++====~~~~~~~~~~~~~~:~~~~:=~==~=++~~::::::::::::~~~</p>
			<p class="ascii">=??+=+I??++~:,,,,,:,,,::,,::::~~~==========~:::,,,,,,,,,,,+++I?I??+?+++~~=~~~~~~~~~~~~=~~:~==~~~~=+~=++~=~~:::::,::::~~~</p>
			<p class="ascii">???=+?II?+~:,,,,,,,,,,,:,:,::~~=~======~====~:::,,,,,,,,,,,+IIIIII?+++=~~~~~~~~~~:~~~~~~:~==~~===+=~++++==::::~,:,:,:~:~</p>
			<p class="ascii">???+??I?+~,,,,,,,,,,,,,,,:,,:~~:=========+==~~:::,,,,.,,,,,+IIIII????+=~=~~~~~~~~:~~~~~~:::=:=++????+++=+:::~:,,,,::::::</p>
			<p class="ascii">=++???I?+:,,,,,,,,,,,,,,:,,:~~~====~=========~~::,,,,,,,,,,:III???+===~~~~~~::~~:~~~~:~+~::+=~+??????+?=+~::=~::,:::::::</p>
			<p class="ascii">=?~~=+?I~,,,,,,,,,,,,,,,,:,~:~~==========+====~~::,,,,,,,,,:???++++===~~~~~~~:~::~~~==++???++????III????+++++~~~,::,::::</p>
			<p class="ascii">+I=~+I=+:,,,,,,,,,,,,,,:,,:~~~=================~::,,,.,,,,,,II??????+=~~~~~::::~::~~=+??????IIIIIIII???????+++=~,,::::::</p>
			<p class="ascii">I?~+I?=,,,,,,,,,,,,,,,,,,,:~~~==================~::,,,:,,,:,II?+?+?++=~~~~~:::~:::~==?IIIIIIIIIIIIIII?????????+=,:,,,:::</p>
			<p class="ascii">?=?II+=,,,,,,,,,,,,,,,,,,,::::~~======++=========~:,,,,,,:,,?????+?++=:~~~::::::::~=+?IIIIIIIIIIIIIII????III??+=::::::::</p>
			<p class="ascii">I??III,,,,,,,,,,,,,,,,,,,:::::::~~===++++++=====~~:,,.,,,,,.??++++++=~:~~::::::~::~=+?IIIIIII??IIIIII????IIII?+~::::::::</p>
			<p class="ascii">+++=?=,,,,,,,,,,,,,,,:,,:~~===~~~~~=====++++==~:,,,,..,.,,,,+++++++==~~~:::::::::,:~+?IIIIII??IIIIIII????III??+~::,:::::</p>
			<p class="ascii">+++I+=,,,,,,,,,,,,,,:,,:~~=======~~====++========~~:::,,,,,,+++++++=~~~~:::::::::::~+?IIII????II????++???II???+:::,:::::</p>
			<p class="ascii">+?II++,,,,,,,,,,,,,:,,::~~========~~====+++=====~~~:::,.,,,,++++?+==~:~~:::::,:::,::++???????++++++==+??I????+~,::,:::::</p>
			<p class="ascii">?II???,,,,,,,,,,,,,,,,,,:,,,,~~~=~~~=====+==~~~~::::::,,,,,:?+++++=~~~~~:::::,:::,,:=++????III?????????II???+=,::::,::::</p>
			<p class="ascii">II?+==,,..,,,,,,,,,,,,,::~,,++::=~~~~==+++=~~~,,,,~:,,,,,,,=++=++==~~~~~:::,:::,,:,,:=+++???IIIII??II?II???+=::,:::,::::</p>
			<p class="ascii">+???+7?.,,,,,,,,,,,,,:::~~=~~~====~~~~=+++==~~~~::::,~,,,,,+?++?+=~~~~~~::::::,,,:,,:=+++==+??????++++???++=:,:,:::,::::</p>
			<p class="ascii">?I+~?I~,.,,,,,,,,,,,::~~~~~~~======~~~=++++===~=~~::::~.,,++??+++==~~~~::::,,:,,,:,,::=+=++++==========+++=~,::,:::,::~:</p>
			<p class="ascii">I?,.77I~.,,,,,,,,,,:~~~~==========~~~==++=+=+=====~::::.,,??+++===~~~~~:::::::,,,:,,:::===+?+++++++++++++=:,,::,::,,~~::</p>
			<p class="ascii">777I.,?I~,,,,,,,,,:~~=============~~====+++++==+==~::::,.,~?++=~=~~~~~~:::::::,,::,,::::+++??+++=====+===:,:::::::,,:~::</p>
			<p class="ascii">.,..~7==~:,,,.,,,:~~============~~~~~==++++++++++++==~:.,,++++~:~~~~~~~~:::::,:,::,:~::::=+??????????++=::::::::::,,~~:~</p>
			<p class="ascii">.,.,,.,,...,,:::~~~~=============~~~~===++++++++++++++=,.,+?~~~~~~~~~~~~~:::::::::,:::::::~+???I????++=:~~::::::::,:~~:~</p>
			<p class="ascii">.....~I,,,,,,,=~~=~============~~~~~~~==++++===++++++++:,~?+~:~~~~~~~~~~~:::::::::::~~~:~~~~=+???+++=~~~:::~:::::,::~~~~</p>
			<p class="ascii">....?7777777:,====~~==========~~~~~~~====++=~~====+++++I?:++,:~~~~:~~~~~~::::,:::::~~~~~~~~~~~:~~~:,~:~~~::~:::::,::~~~~</p>
			<p class="ascii">.,,?I77777I7:,,=~=~~~========~::~~~~~===+++++=~~===+++I+???+,::~~~:~~~~~~::::,:::::~=======~~~:::,:~:~:~~~~~:::,:::~~~:~</p>
			<p class="ascii">+,7777777?7~,,.=~~~==========~~:~~~~~~===++++==~===+++I+??++::~~~~:~~~:~:::::::::,:~=======~:::::::,~~~~~~~~::::::~~~~~~</p>
			<p class="ascii">:~=??7I7=::,.,,~~~~~~~========~~:::::~~~===+++=====++77I??++,:::~~:~~~~~:::::::::,::=======,::~~::~::~~~~:~:::,:::~~=~~~</p>
			<p class="ascii">~====7I?~,,,,,..~~~~~~~=~=====~~=~~~~=======+======+777I?+++,,:~~:~~~~~~~:::::::~,::====~,,,,::~~~~~:::~~~~~::~:::~~=~~~</p>
			<p class="ascii">:~=~+:~:::,,,....~~~~~~~~~~~~~:~~~~~=+===+===~~===+I+7I~~=I?,::~~~~~~~~~~:~~::::~,:,====~,,,::~~=~~~~::~~~~:::~::~~=~~~~</p>
			<p class="ascii">~::?~~:,,,,,,.....~~~~~~~~:~,,:~~~=~~======~~:==++~~?=,:+::~:::~~~:~~~~~~:~~::::~::,~===~,,,,:.,~,~==~~~:~:~::::~~~=~~~~</p>
			<p class="ascii">,,::~+~,,,,........~~~~~=~~~~::::::,,::~~~======+,,,,:::=::?:~:~:::~~~~~:~~~:::~::~,,~==~,,,,.:::=~~~~~::::::~:~~~~=~~~~</p>
			<p class="ascii">~?:,,,,,,.,,:,....,,~~~~~~~~~~~~:~~~======+++==+,,,.:,,.::,=::::::~~~~~~::~~:::~~::,,,.~=~,:,,:=~~~=~~~~~,,::,.:~~~~~~~~</p>
			<p class="ascii">=,,,,,,,:,,,,,,...,,,,:~~~~~~~~~~~~~~~~===++==,,,.,,,,.,:,,=::::::~~~~~~~~~~~::::::,,.,,==::,,::~~:~~,~~::::,:::~~==~~~:</p>
			<p class="ascii">=,,.:,:::::,,,,,.,.,,,,::~~~~~~~~~~~~~======+,:,,..,,,.::,.:::::::~~~~~~~~~~~:::::::,,....,,,,,,:,::~:~:~~:,::,:~:=~~~~~</p>
			<p class="ascii">,,,,:,:.,,:::,,,,.,,,,,::::~~~~~~~~~~=~=====,,::,,,,,,::,,,,::,:,,~~~~~::~~~:,:~:,::,,,,.,,?+,,,,,,,,,,:,,::,~~~~~=~~:~:</p>
			<p class="ascii">.,::::,,.,:::,,,,,.,,,,,:::::~~~~~==~=====~..::,,::,.,::,,,,,,::::~::~~::~::~,,::,,,=?=..=I,,:,,,,,,,,,,,:::~~~~~~=~~~:~</p>
			<p class="ascii">.....,:,.,,::,,:,,,,,,:::~~~~::~~========.,,,,,,,,,.,,:,,,,:,:,:::~~~~:::,~~:,,,,:,:,?III:,,,,::,,,,,,,,,:~~~~~~~~~~~:~:</p>
			<p class="ascii">......,:,.,,:,,,:,,,:,::::~~~~~==~~~.,,..,,,,,,,,,.,,::,,,::,:,::~~~~::::,:::,:,,,,,,,II,,:::::::,:,:,,,::~~:~~:::::::~:</p>
			<p class="ascii">.......,:,,,,::,,,,,:~::::~~~~~==~~,.,..,,,,,,,,,,,,,,::,:.,~:::::~:::::::::,:::,,,,,,,,,:::::::~,,,:,,,,~:,,,,,,,:::~::</p>
			<p class="ascii">.........:,,,,,,,,:::,~~~:~~~~=~~~:,...,,,,,,,,,.,,,,,,::,.,~~:::::::,::::::,,,:,,,,,,,,:::::::~~~::,,,,,,,,,,,,,,:,~:::</p>
			<p class="ascii">..........:.,,,,,,,,,,:,~~~~~~~~~:,..,.,,,,,,:,,~,,,,,::,...=~:::::,:::::::,,,,,,,,,,,,:::::::::~::,,,,,,,,,,,,,,,,:,,:~</p>
			<p class="ascii">...........,,.,,,::,,,,:,~~~~~~~~,,...,,,,,,::,:,,,,,,,,,:,:~~::::::::,::::::,:,,,,,:,,,:,,,,,,,,,,::,,,,:,,,,,,,~,,::::</p>
			<p class="ascii">.............,..,,,:,:,,,,~~~~~~,,,...,,,,,,:,.:,,,,,:,,,:::=~::::::::::,,:,,,,,,,,,:,,,,::,,,,::::,::,,,,,:,:,,,:,,::,:</p>
			<p class="ascii">...............,.,,,,,,,,,~~~~~:,,,...,,..,,:,.:,:,,:,,:,,:.~=:::::::::::::::::::,,:,,,:,,::::::,::::::::,::,:,,,,::,,::</p>
			<p class="ascii">................,,,,,,,,,,,~~~:,,,,...,.,,,:,,::,,,,,:,,,::.~~::::::::::::::::,:,::::,:::::,::::::::::::::::::::::::::,,</p>
			<p class="ascii">.................,,.,,,,,,,~~::,,.......,,,,.,:,,,,,,::,,,,,~~~:~:::::::::::,:::::::::::::,:::::::::::::::::::::::::::~:</p>
		</font>
	</body>
</html>
