<!DOCTYPE html>
<html lang="en">
<html>
	<head>
		<meta http-equiv="Content-Type">
		<meta content="text/html; charset=utf-8">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
		<title>Day1 Task</title>
	</head>
	<body bgcolor="#000000">
		<font face="monospace, Courier" size="3" color="#ffffff">
			???++++=++????????+,:,+::~::~:~:~~==~:~=,:,:,::,,:+:++++++++777777II++==++=+=================++++========~=~~~~~~~~===+I<br>
			???+++?=+???????=~::::::::::::::::::?~:,,,,,,,:,,,,,,+++++++77777I?++?III+=================~==+==+======~~~~~~~~~~~~~==?<br>
			?++++?=+?+?????:,,::::::::::::::::~~:~::,,,,,,,,,,,,,,++++++7777I??=+?II?++===============~==========~+=~~~~::~~~~~~~==+<br>
			?=++??=+??????=::,,,::::::::::::::::::::::,,,,,,,,,,,,:?++++7II+++++????+=+=======~==~==~~~~~=~======~+=~~~::::::::~~~==<br>
			?==+++++?++??=,,::,,::::::::::::::~~~:~~:::,,,,,,,,,,,,,+===I++?=+?II???=====~====~==~=~~~~~==~~=~==~=+=~~~~::::::::~~==<br>
			=~+?==??????+:,,:,,::::::::::::::~~===~=~~:::,,,,,,,,,,,:+==+?=+?7I?7I?+===~~~~~=~=~~~=~~~~~==:~=~==~++=~~~~:::,::::~~~=<br>
			==??==???=+=:,,,,,,,,:::::::,::~~~~~======~~::,,,,,,,,,.,,=++=+?+?+?+++====~~~~~~~~~~~~~~:~~~~:=~==~=++~~::::::::::::~~~<br>
			=??+=+I??++~:,,,,,:,,,::,,::::~~~==========~:::,,,,,,,,,,,+++I?I??+?+++~~=~~~~~~~~~~~~=~~:~==~~~~=+~=++~=~~:::::,::::~~~<br>
			???=+?II?+~:,,,,,,,,,,,:,:,::~~=~======~====~:::,,,,,,,,,,,+IIIIII?+++=~~~~~~~~~~:~~~~~~:~==~~===+=~++++==::::~,:,:,:~:~<br>
			???+??I?+~,,,,,,,,,,,,,,,:,,:~~:=========+==~~:::,,,,.,,,,,+IIIII????+=~=~~~~~~~~:~~~~~~:::=:=++????+++=+:::~:,,,,::::::<br>
			=++???I?+:,,,,,,,,,,,,,,:,,:~~~====~=========~~::,,,,,,,,,,:III???+===~~~~~~::~~:~~~~:~+~::+=~+??????+?=+~::=~::,:::::::<br>
			=?~~=+?I~,,,,,,,,,,,,,,,,:,~:~~==========+====~~::,,,,,,,,,:???++++===~~~~~~~:~::~~~==++???++????III????+++++~~~,::,::::<br>
			+I=~+I=+:,,,,,,,,,,,,,,:,,:~~~=================~::,,,.,,,,,,II??????+=~~~~~::::~::~~=+??????IIIIIIII???????+++=~,,::::::<br>
			I?~+I?=,,,,,,,,,,,,,,,,,,,:~~~==================~::,,,:,,,:,II?+?+?++=~~~~~:::~:::~==?IIIIIIIIIIIIIII?????????+=,:,,,:::<br>
			?=?II+=,,,,,,,,,,,,,,,,,,,::::~~======++=========~:,,,,,,:,,?????+?++=:~~~::::::::~=+?IIIIIIIIIIIIIII????III??+=::::::::<br>
			I??III,,,,,,,,,,,,,,,,,,,:::::::~~===++++++=====~~:,,.,,,,,.??++++++=~:~~::::::~::~=+?IIIIIII??IIIIII????IIII?+~::::::::<br>
			+++=?=,,,,,,,,,,,,,,,:,,:~~===~~~~~=====++++==~:,,,,..,.,,,,+++++++==~~~:::::::::,:~+?IIIIII??IIIIIII????III??+~::,:::::<br>
			+++I+=,,,,,,,,,,,,,,:,,:~~=======~~====++========~~:::,,,,,,+++++++=~~~~:::::::::::~+?IIII????II????++???II???+:::,:::::<br>
			+?II++,,,,,,,,,,,,,:,,::~~========~~====+++=====~~~:::,.,,,,++++?+==~:~~:::::,:::,::++???????++++++==+??I????+~,::,:::::<br>
			?II???,,,,,,,,,,,,,,,,,,:,,,,~~~=~~~=====+==~~~~::::::,,,,,:?+++++=~~~~~:::::,:::,,:=++????III?????????II???+=,::::,::::<br>
			II?+==,,..,,,,,,,,,,,,,::~,,++::=~~~~==+++=~~~,,,,~:,,,,,,,=++=++==~~~~~:::,:::,,:,,:=+++???IIIII??II?II???+=::,:::,::::<br>
			+???+7?.,,,,,,,,,,,,,:::~~=~~~====~~~~=+++==~~~~::::,~,,,,,+?++?+=~~~~~~::::::,,,:,,:=+++==+??????++++???++=:,:,:::,::::<br>
			?I+~?I~,.,,,,,,,,,,,::~~~~~~~======~~~=++++===~=~~::::~.,,++??+++==~~~~::::,,:,,,:,,::=+=++++==========+++=~,::,:::,::~:<br>
			I?,.77I~.,,,,,,,,,,:~~~~==========~~~==++=+=+=====~::::.,,??+++===~~~~~:::::::,,,:,,:::===+?+++++++++++++=:,,::,::,,~~::<br>
			777I.,?I~,,,,,,,,,:~~=============~~====+++++==+==~::::,.,~?++=~=~~~~~~:::::::,,::,,::::+++??+++=====+===:,:::::::,,:~::<br>
			.,..~7==~:,,,.,,,:~~============~~~~~==++++++++++++==~:.,,++++~:~~~~~~~~:::::,:,::,:~::::=+??????????++=::::::::::,,~~:~<br>
			.,.,,.,,...,,:::~~~~=============~~~~===++++++++++++++=,.,+?~~~~~~~~~~~~~:::::::::,:::::::~+???I????++=:~~::::::::,:~~:~<br>
			.....~I,,,,,,,=~~=~============~~~~~~~==++++===++++++++:,~?+~:~~~~~~~~~~~:::::::::::~~~:~~~~=+???+++=~~~:::~:::::,::~~~~<br>
			....?7777777:,====~~==========~~~~~~~====++=~~====+++++I?:++,:~~~~:~~~~~~::::,:::::~~~~~~~~~~~:~~~:,~:~~~::~:::::,::~~~~<br>
			.,,?I77777I7:,,=~=~~~========~::~~~~~===+++++=~~===+++I+???+,::~~~:~~~~~~::::,:::::~=======~~~:::,:~:~:~~~~~:::,:::~~~:~<br>
			+,7777777?7~,,.=~~~==========~~:~~~~~~===++++==~===+++I+??++::~~~~:~~~:~:::::::::,:~=======~:::::::,~~~~~~~~::::::~~~~~~<br>
			:~=??7I7=::,.,,~~~~~~~========~~:::::~~~===+++=====++77I??++,:::~~:~~~~~:::::::::,::=======,::~~::~::~~~~:~:::,:::~~=~~~<br>
			~====7I?~,,,,,..~~~~~~~=~=====~~=~~~~=======+======+777I?+++,,:~~:~~~~~~~:::::::~,::====~,,,,::~~~~~:::~~~~~::~:::~~=~~~<br>
			:~=~+:~:::,,,....~~~~~~~~~~~~~:~~~~~=+===+===~~===+I+7I~~=I?,::~~~~~~~~~~:~~::::~,:,====~,,,::~~=~~~~::~~~~:::~::~~=~~~~<br>
			~::?~~:,,,,,,.....~~~~~~~~:~,,:~~~=~~======~~:==++~~?=,:+::~:::~~~:~~~~~~:~~::::~::,~===~,,,,:.,~,~==~~~:~:~::::~~~=~~~~<br>
			,,::~+~,,,,........~~~~~=~~~~::::::,,::~~~======+,,,,:::=::?:~:~:::~~~~~:~~~:::~::~,,~==~,,,,.:::=~~~~~::::::~:~~~~=~~~~<br>
			~?:,,,,,,.,,:,....,,~~~~~~~~~~~~:~~~======+++==+,,,.:,,.::,=::::::~~~~~~::~~:::~~::,,,.~=~,:,,:=~~~=~~~~~,,::,.:~~~~~~~~<br>
			=,,,,,,,:,,,,,,...,,,,:~~~~~~~~~~~~~~~~===++==,,,.,,,,.,:,,=::::::~~~~~~~~~~~::::::,,.,,==::,,::~~:~~,~~::::,:::~~==~~~:<br>
			=,,.:,:::::,,,,,.,.,,,,::~~~~~~~~~~~~~======+,:,,..,,,.::,.:::::::~~~~~~~~~~~:::::::,,....,,,,,,:,::~:~:~~:,::,:~:=~~~~~<br>
			,,,,:,:.,,:::,,,,.,,,,,::::~~~~~~~~~~=~=====,,::,,,,,,::,,,,::,:,,~~~~~::~~~:,:~:,::,,,,.,,?+,,,,,,,,,,:,,::,~~~~~=~~:~:<br>
			.,::::,,.,:::,,,,,.,,,,,:::::~~~~~==~=====~..::,,::,.,::,,,,,,::::~::~~::~::~,,::,,,=?=..=I,,:,,,,,,,,,,,:::~~~~~~=~~~:~<br>
			.....,:,.,,::,,:,,,,,,:::~~~~::~~========.,,,,,,,,,.,,:,,,,:,:,:::~~~~:::,~~:,,,,:,:,?III:,,,,::,,,,,,,,,:~~~~~~~~~~~:~:<br>
			......,:,.,,:,,,:,,,:,::::~~~~~==~~~.,,..,,,,,,,,,.,,::,,,::,:,::~~~~::::,:::,:,,,,,,,II,,:::::::,:,:,,,::~~:~~:::::::~:<br>
			.......,:,,,,::,,,,,:~::::~~~~~==~~,.,..,,,,,,,,,,,,,,::,:.,~:::::~:::::::::,:::,,,,,,,,,:::::::~,,,:,,,,~:,,,,,,,:::~::<br>
			.........:,,,,,,,,:::,~~~:~~~~=~~~:,...,,,,,,,,,.,,,,,,::,.,~~:::::::,::::::,,,:,,,,,,,,:::::::~~~::,,,,,,,,,,,,,,:,~:::<br>
			..........:.,,,,,,,,,,:,~~~~~~~~~:,..,.,,,,,,:,,~,,,,,::,...=~:::::,:::::::,,,,,,,,,,,,:::::::::~::,,,,,,,,,,,,,,,,:,,:~<br>
			...........,,.,,,::,,,,:,~~~~~~~~,,...,,,,,,::,:,,,,,,,,,:,:~~::::::::,::::::,:,,,,,:,,,:,,,,,,,,,,::,,,,:,,,,,,,~,,::::<br>
			.............,..,,,:,:,,,,~~~~~~,,,...,,,,,,:,.:,,,,,:,,,:::=~::::::::::,,:,,,,,,,,,:,,,,::,,,,::::,::,,,,,:,:,,,:,,::,:<br>
			...............,.,,,,,,,,,~~~~~:,,,...,,..,,:,.:,:,,:,,:,,:.~=:::::::::::::::::::,,:,,,:,,::::::,::::::::,::,:,,,,::,,::<br>
			................,,,,,,,,,,,~~~:,,,,...,.,,,:,,::,,,,,:,,,::.~~::::::::::::::::,:,::::,:::::,::::::::::::::::::::::::::,,<br>
			.................,,.,,,,,,,~~::,,.......,,,,.,:,,,,,,::,,,,,~~~:~:::::::::::,:::::::::::::,:::::::::::::::::::::::::::~:<br>
		</font>
	</body>
</html>
