<!DOCTYPE html>
<html lang="en">
<html>
	<head>
		<meta http-equiv="Content-Type">
		<meta content="text/html; charset=utf-8">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
		<title>*Man younglee*</title>
		<style type="text/css">
		 .font {
			 color: #ffffff;
			 font-family: monospace, Courier, Tahoma, Arial, "宋体", "Microsoft YaHei", "微软雅黑", sans-serif;
			 font-size: 12px;
		 }
		 .ascii {
			 line-height: 0px;
			 text-align: center;
		 }
		 .font .title {
			 color: #04f900;
			 text-align: center;
		 }
		</style>
	</head>
	<body bgcolor="#000000">
		<font class="font">
			<h1 class="title">Young Lee</h1>
			<p class="ascii">???++++=++????????+,:,+::~::~:~:~~==~:~=,:,:,::,,:+:++++++++</p>
			<p class="ascii">???+++?=+???????=~::::::::::::::::::?~:,,,,,,,:,,,,,,+++++++</p>
			<p class="ascii">?++++?=+?+?????:,,::::::::::::::::~~:~::,,,,,,,,,,,,,,++++++</p>
			<p class="ascii">?=++??=+??????=::,,,::::::::::::::::::::::,,,,,,,,,,,,:?++++</p>
			<p class="ascii">?==+++++?++??=,,::,,::::::::::::::~~~:~~:::,,,,,,,,,,,,,+===</p>
			<p class="ascii">=~+?==??????+:,,:,,::::::::::::::~~===~=~~:::,,,,,,,,,,,:+==</p>
			<p class="ascii">==??==???=+=:,,,,,,,,:::::::,::~~~~~======~~::,,,,,,,,,.,,=+</p>
			<p class="ascii">=??+=+I??++~:,,,,,:,,,::,,::::~~~==========~:::,,,,,,,,,,,++</p>
			<p class="ascii">???=+?II?+~:,,,,,,,,,,,:,:,::~~=~======~====~:::,,,,,,,,,,,+</p>
			<p class="ascii">???+??I?+~,,,,,,,,,,,,,,,:,,:~~:=========+==~~:::,,,,.,,,,,+</p>
			<p class="ascii">=++???I?+:,,,,,,,,,,,,,,:,,:~~~====~=========~~::,,,,,,,,,,:</p>
			<p class="ascii">=?~~=+?I~,,,,,,,,,,,,,,,,:,~:~~==========+====~~::,,,,,,,,,:</p>
			<p class="ascii">+I=~+I=+:,,,,,,,,,,,,,,:,,:~~~=================~::,,,.,,,,,,</p>
			<p class="ascii">I?~+I?=,,,,,,,,,,,,,,,,,,,:~~~==================~::,,,:,,,:,</p>
			<p class="ascii">?=?II+=,,,,,,,,,,,,,,,,,,,::::~~======++=========~:,,,,,,:,,</p>
			<p class="ascii">I??III,,,,,,,,,,,,,,,,,,,:::::::~~===++++++=====~~:,,.,,,,,.</p>
			<p class="ascii">+++=?=,,,,,,,,,,,,,,,:,,:~~===~~~~~=====++++==~:,,,,..,.,,,,</p>
			<p class="ascii">+++I+=,,,,,,,,,,,,,,:,,:~~=======~~====++========~~:::,,,,,,</p>
			<p class="ascii">+?II++,,,,,,,,,,,,,:,,::~~========~~====+++=====~~~:::,.,,,,</p>
			<p class="ascii">?II???,,,,,,,,,,,,,,,,,,:,,,,~~~=~~~=====+==~~~~::::::,,,,,:</p>
			<p class="ascii">II?+==,,..,,,,,,,,,,,,,::~,,++::=~~~~==+++=~~~,,,,~:,,,,,,,=</p>
			<p class="ascii">+???+7?.,,,,,,,,,,,,,:::~~=~~~====~~~~=+++==~~~~::::,~,,,,,+</p>
			<p class="ascii">?I+~?I~,.,,,,,,,,,,,::~~~~~~~======~~~=++++===~=~~::::~.,,++</p>
			<p class="ascii">I?,.77I~.,,,,,,,,,,:~~~~==========~~~==++=+=+=====~::::.,,??</p>
			<p class="ascii">777I.,?I~,,,,,,,,,:~~=============~~====+++++==+==~::::,.,~?</p>
			<p class="ascii">.,..~7==~:,,,.,,,:~~============~~~~~==++++++++++++==~:.,,++</p>
			<p class="ascii">.,.,,.,,...,,:::~~~~=============~~~~===++++++++++++++=,.,+?</p>
			<p class="ascii">.....~I,,,,,,,=~~=~============~~~~~~~==++++===++++++++:,~?+</p>
			<p class="ascii">....?7777777:,====~~==========~~~~~~~====++=~~====+++++I?:++</p>
			<p class="ascii">.,,?I77777I7:,,=~=~~~========~::~~~~~===+++++=~~===+++I+???+</p>
			<p class="ascii">+,7777777?7~,,.=~~~==========~~:~~~~~~===++++==~===+++I+??++</p>
			<p class="ascii">:~=??7I7=::,.,,~~~~~~~========~~:::::~~~===+++=====++77I??++</p>
			<p class="ascii">~====7I?~,,,,,..~~~~~~~=~=====~~=~~~~=======+======+777I?+++</p>
			<p class="ascii">:~=~+:~:::,,,....~~~~~~~~~~~~~:~~~~~=+===+===~~===+I+7I~~=I?</p>
			<p class="ascii">~::?~~:,,,,,,.....~~~~~~~~:~,,:~~~=~~======~~:==++~~?=,:+::~</p>
			<p class="ascii">,,::~+~,,,,........~~~~~=~~~~::::::,,::~~~======+,,,,:::=::?</p>
			<p class="ascii">~?:,,,,,,.,,:,....,,~~~~~~~~~~~~:~~~======+++==+,,,.:,,.::,=</p>
			<p class="ascii">=,,,,,,,:,,,,,,...,,,,:~~~~~~~~~~~~~~~~===++==,,,.,,,,.,:,,=</p>
			<p class="ascii">=,,.:,:::::,,,,,.,.,,,,::~~~~~~~~~~~~~======+,:,,..,,,.::,.:</p>
			<p class="ascii">,,,,:,:.,,:::,,,,.,,,,,::::~~~~~~~~~~=~=====,,::,,,,,,::,,,,</p>
			<p class="ascii">.,::::,,.,:::,,,,,.,,,,,:::::~~~~~==~=====~..::,,::,.,::,,,,</p>
			<p class="ascii">.....,:,.,,::,,:,,,,,,:::~~~~::~~========.,,,,,,,,,.,,:,,,,:</p>
			<p class="ascii">......,:,.,,:,,,:,,,:,::::~~~~~==~~~.,,..,,,,,,,,,.,,::,,,::</p>
			<p class="ascii">.......,:,,,,::,,,,,:~::::~~~~~==~~,.,..,,,,,,,,,,,,,,::,:.,</p>
			<p class="ascii">.........:,,,,,,,,:::,~~~:~~~~=~~~:,...,,,,,,,,,.,,,,,,::,.,</p>
			<p class="ascii">..........:.,,,,,,,,,,:,~~~~~~~~~:,..,.,,,,,,:,,~,,,,,::,...</p>
			<p class="ascii">...........,,.,,,::,,,,:,~~~~~~~~,,...,,,,,,::,:,,,,,,,,,:,:</p>
			<p class="ascii">.............,..,,,:,:,,,,~~~~~~,,,...,,,,,,:,.:,,,,,:,,,:::</p>
			<p class="ascii">...............,.,,,,,,,,,~~~~~:,,,...,,..,,:,.:,:,,:,,:,,:.</p>
			<p class="ascii">................,,,,,,,,,,,~~~:,,,,...,.,,,:,,::,,,,,:,,,::.</p>
			<p class="ascii">.................,,.,,,,,,,~~::,,.......,,,,.,:,,,,,,::,,,,,</p>
		</font>
	</body>
</html>
