@font-face {
  font-family: 'iconfont';
  src: url("../image/icon/iconfont.eot");
  src: url("../image/icon/iconfont.eot?#iefix") format("embedded-opentype"), url("../image/icon/iconfont.woff") format("woff"), url("../image/icon/iconfont.ttf") format("truetype"), url("../image/icon/iconfont.svg#iconfont") format("svg"); }
@font-face {
  font-family: 'Fixedsys';
  src: url("../font/FSEX300.ttf"); }
@font-face {
  font-family: 'SourceCodePro';
  src: url("../font/SourceCodePro-Regular.ttf"); }
.no-select, #homepage-txt, .edit-line, #minibuffer #mb-menu {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
  user-select: none; }

body {
  background-color: #161A1F;
  font-family: Helvetica Neue, Helvetica, SourceCodePro, Roboto, "Hiragino Sans GB", "STHeiti", sans-serif; }

#ylpn {
  display: none; }

.yl-theme {
  font-weight: bold;
  font-size: 94px;
  color: #ee4000; }

#yl-txt, #yl-s {
  font-family: Fixedsys;
  text-shadow: 3px 3px 3px black; }

#yl-dot {
  text-shadow: none; }

#pn-txt {
  display: block;
  font-family: Fixedsys;
  font-weight: bold;
  font-size: 94px;
  color: #4682b4;
  text-shadow: 5px 5px 5px black; }

#blink-cursor {
  background-color: #ee4000; }

.edit-line {
  font-family: SourceCodePro; }
  .edit-line .user {
    color: beige; }
  .edit-line .path {
    color: beige; }

.mb-icons, #minibuffer #mb-menu #links #hotkey-icon, #minibuffer #mb-menu #links #douban-icon, #minibuffer #mb-menu #links #github-icon, #minibuffer #mb-menu #links #rss-icon {
  color: #cccccc;
  font-family: "iconfont" !important;
  font-size: 18px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale; }
  .mb-icons a, #minibuffer #mb-menu #links #hotkey-icon a, #minibuffer #mb-menu #links #douban-icon a, #minibuffer #mb-menu #links #github-icon a, #minibuffer #mb-menu #links #rss-icon a {
    color: #cccccc;
    text-decoration: none; }
    .mb-icons a:hover, #minibuffer #mb-menu #links #hotkey-icon a:hover, #minibuffer #mb-menu #links #douban-icon a:hover, #minibuffer #mb-menu #links #github-icon a:hover, #minibuffer #mb-menu #links #rss-icon a:hover {
      color: #f8f8ff; }

#minibuffer {
  background-color: #161A1F;
  border-top: 1px solid #696969;
  box-shadow: 0 10px 20px 10px black; }
  #minibuffer #mb-menu {
    font-size: 14px;
    background-color: #262626;
    border-bottom: 1px solid #696969; }
    #minibuffer #mb-menu #share:hover {
      background-color: black; }
      #minibuffer #mb-menu #share:hover #share-icon {
        color: #f8f8ff; }
    #minibuffer #mb-menu #share #share-icon {
      color: #cccccc;
      font-family: "iconfont" !important;
      font-size: 18px;
      font-style: normal;
      -webkit-font-smoothing: antialiased;
      -webkit-text-stroke-width: 0.2px;
      -moz-osx-font-smoothing: grayscale; }
    #minibuffer #mb-menu #links .link-to {
      margin-left: 8px; }
  #minibuffer #mb-content {
    font-size: 14px;
    background-color: #666666; }
  #minibuffer #site-menu {
    color: white; }
    #minibuffer #site-menu .domain {
      color: #cccccc;
      font-weight: bold;
      font-family: SourceCodePro; }
      #minibuffer #site-menu .domain:hover {
        background-color: black;
        color: #f8f8ff; }
    #minibuffer #site-menu .time {
      color: #cccccc;
      font-weight: bold;
      font-family: SourceCodePro; }

/*# sourceMappingURL=theme.css.map */
